.background-color-aliceblue {
    background-color: #f0f8ff;
}

.background-color-antiquewhite {
    background-color: #faebd7;
}

.background-color-aqua {
    background-color: #00ffff;
}

.background-color-aquamarine {
    background-color: #7fffd4;
}

.background-color-azure {
    background-color: #f0ffff;
}

.background-color-beige {
    background-color: #f5f5dc;
}

.background-color-bisque {
    background-color: #ffe4c4;
}

.background-color-black {
    background-color: #000000;
}

.background-color-blanchedalmond {
    background-color: #ffebcd;
}

.background-color-blue {
    background-color: #0000ff;
}

.background-color-blueviolet {
    background-color: #8a2be2;
}

.background-color-brown {
    background-color: #a52a2a;
}

.background-color-burlywood {
    background-color: #deb887;
}

.background-color-cadetblue {
    background-color: #5f9ea0;
}

.background-color-chartreuse {
    background-color: #7fff00;
}

.background-color-chocolate {
    background-color: #d2691e;
}

.background-color-coral {
    background-color: #ff7f50;
}

.background-color-cornflowerblue {
    background-color: #6495ed;
}

.background-color-cornsilk {
    background-color: #fff8dc;
}

.background-color-crimson {
    background-color: #dc143c;
}

.background-color-cyan {
    background-color: #00ffff;
}

.background-color-darkblue {
    background-color: #00008b;
}

.background-color-darkcyan {
    background-color: #008b8b;
}

.background-color-darkgoldenrod {
    background-color: #b8860b;
}

.background-color-darkgray {
    background-color: #a9a9a9;
}

.background-color-darkgreen {
    background-color: #006400;
}

.background-color-darkgrey {
    background-color: #a9a9a9;
}

.background-color-darkkhaki {
    background-color: #bdb76b;
}

.background-color-darkmagenta {
    background-color: #8b008b;
}

.background-color-darkolivegreen {
    background-color: #556b2f;
}

.background-color-darkorange {
    background-color: #ff8c00;
}

.background-color-darkorchid {
    background-color: #9932cc;
}

.background-color-darkred {
    background-color: #8b0000;
}

.background-color-darksalmon {
    background-color: #e9967a;
}

.background-color-darkseagreen {
    background-color: #8fbc8f;
}

.background-color-darkslateblue {
    background-color: #483d8b;
}

.background-color-darkslategray {
    background-color: #2f4f4f;
}

.background-color-darkslategrey {
    background-color: #2f4f4f;
}

.background-color-darkturquoise {
    background-color: #00ced1;
}

.background-color-darkviolet {
    background-color: #9400d3;
}

.background-color-deeppink {
    background-color: #ff1493;
}

.background-color-deepskyblue {
    background-color: #00bfff;
}

.background-color-dimgray {
    background-color: #696969;
}

.background-color-dimgrey {
    background-color: #696969;
}

.background-color-dodgerblue {
    background-color: #1e90ff;
}

.background-color-firebrick {
    background-color: #b22222;
}

.background-color-floralwhite {
    background-color: #fffaf0;
}

.background-color-forestgreen {
    background-color: #228b22;
}

.background-color-fuchsia {
    background-color: #ff00ff;
}

.background-color-gainsboro {
    background-color: #dcdcdc;
}

.background-color-ghostwhite {
    background-color: #f8f8ff;
}

.background-color-gold {
    background-color: #ffd700;
}

.background-color-goldenrod {
    background-color: #daa520;
}

.background-color-gray {
    background-color: #808080;
}

.background-color-green {
    background-color: #008000;
}

.background-color-greenyellow {
    background-color: #adff2f;
}

.background-color-grey {
    background-color: #808080;
}

.background-color-honeydew {
    background-color: #f0fff0;
}

.background-color-hotpink {
    background-color: #ff69b4;
}

.background-color-indianred {
    background-color: #cd5c5c;
}

.background-color-indigo {
    background-color: #4b0082;
}

.background-color-ivory {
    background-color: #fffff0;
}

.background-color-khaki {
    background-color: #f0e68c;
}
