.aliceblue {
    color: #f0f8ff;
}

.antiquewhite {
    color: #faebd7;
}

.aqua {
    color: #00ffff;
}

.aquamarine {
    color: #7fffd4;
}

.azure {
    color: #f0ffff;
}

.beige {
    color: #f5f5dc;
}

.bisque {
    color: #ffe4c4;
}

.black {
    color: #000000;
}

.blanchedalmond {
    color: #ffebcd;
}

.blue {
    color: #0000ff;
}

.blueviolet {
    color: #8a2be2;
}

.brown {
    color: #a52a2a;
}

.burlywood {
    color: #deb887;
}

.cadetblue {
    color: #5f9ea0;
}

.chartreuse {
    color: #7fff00;
}

.chocolate {
    color: #d2691e;
}

.coral {
    color: #ff7f50;
}

.cornflowerblue {
    color: #6495ed;
}

.cornsilk {
    color: #fff8dc;
}

.crimson {
    color: #dc143c;
}

.cyan {
    color: #00ffff;
}

.darkblue {
    color: #00008b;
}

.darkcyan {
    color: #008b8b;
}

.darkgoldenrod {
    color: #b8860b;
}

.darkgray {
    color: #a9a9a9;
}
